################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCWebApp/bin
/MVCWebApp/obj/Debug
/MVCWebApp.Tests/obj/Debug
/.vs
